* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    width: 1440px;
}

#app {
    width: 100%;
}